body{
background: #151312;
margin-top: 50px;
}

div{
background: rgb(241, 243, 236);
font-size: 100px;
margin-top: 120px;
border-radius: 50%;
width: 500px;
height: 120px;
margin-bottom: 100px;
box-shadow: 20px 10px;

}
footer{
background: white;
width: 100px;
border-radius: 50px;
text-align: center;
margin: auto;
}
h1{
    color: white;
    text-align: center;
}

